{% load static %}<!DOCTYPE html>
<html>
  <head>
    <meta charset="utf-8">
    <title>Boards</title>
    <link rel="stylesheet" href="{% static 'css/bootstrap.min.css' %}">
  </head>
  <body>
    <div class="container">
      <ol class="breadcrumb my-4">
        <li class="breadcrumb-item active">Movies</li>
      </ol>
      <table class="table">
        <thead class="thead-inverse">
          <tr>
            <th>Movie</th>
            <th>Genre</th>
            <th>Cast</th>
            <th>Year</th>
          </tr>
        </thead>
        <tbody>
            <tr>
              <td>
                <small class="text-muted d-block">Something</small>
              </td>
              <td class="align-middle">0</td>
              <td class="align-middle">0</td>
              <td>0</td>
            </tr>
        </tbody>
      </table>
    </div>
  </body>
</html>>